Flask==2.0pip.1
gunicorn==20.1.0
# itsdangerous==1.1.0
numpy>=1.19.5
scipy>=1.7.1
scikit-learn>=1.0
matplotlib>=3.4.3
pandas>=1.3.3
seaborn>=0.11.2
# warnings
# train_test_split
# MinMaxScaler
# ExtraTreesClassifier
# DecisionTreeClassifier
# GridSearchCV
# tree
# confusion_matrix
# classification_report
# RandomForestClassifier
# pickle
# RandomizedSearchCV
# matplotlib.pyplot